.env
.env.local
.git
.gitignore
.idea
.vscode
.pids
.DS_Store
backend/agentstore
backend/agentstore-cli
backend/agentstore-server
backend/server
backend/vendor
backend/config/dev.yaml
frontend/node_modules
frontend/dist
bin
*.swp
*.swo
*~
